            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-sm-8">
                    <h2>Pagina Principal</h2>
                </div>
            </div>

            <div class="wrapper wrapper-content">
                <div class="middle-box text-center animated fadeInRightBig">
                    <h3 class="font-bold">DATOS DEL USUARIO</h3>
                    <h3 class="font-bold"><u>id </u>: {{user.id}} </h3>
                    <h3 class="font-bold"><u>username </u>: {{user.username}} 
                    <h3 class="font-bold"><u>password </u>: {{user.password}} 
                </div>
            </div>