 
    {{#if user}}
<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Cargando...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="BUSCAR...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="../../index.html">THRU TUBING SOLUTIONS</a>
            </div>
          
      
          
          <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Call Search -->
                    <li><a href="javascript:void(0);" class="js-search" data-close="true"><i class="material-icons">search</i></a></li>
                    <!-- #END# Call Search -->
                    <!-- Notifications -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            <i class="material-icons">notifications</i>
                            <span class="label-count">0</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">NOTIFICATIONES</li>
                            <li class="body">
                                <ul class="menu">
                                  
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="javascript:void(0);">Ver Todas</a>
                            </li>
                        </ul>
                    </li>
                    <!-- #END# Notifications -->
                  
                    <!-- #END# Tasks -->
                    
                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="../../images/user.png" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.name}}</div>
                    <div class="email">{{user.email}}</div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
               
                            <li><a href="/users/logout"><i class="material-icons">input</i>Salir</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">Dashborard</li>
                 
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">widgets</i>
                            <span>Administración</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="/cliente" class="menu-toggle">
                                    <span>Clientes</span>
                                </a>
                            </li>
                            <li>
                                <a href="/asset" class="menu-toggle">
                                    <span>Herramientas</span>
                                </a>
                               
                            </li>
                            <li>
                                <a href="/eso" class="menu-toggle">
                                    <span>ESO</span>
                                </a>
                            </li>

                            <li>
                                <a href="/tipotrabajo" class="menu-toggle">
                                    <span>Tipos de Trabajo</span>
                                </a>
                            </li>
                            <li>
                                <a href="/conexion" class="menu-toggle">
                                    <span>Tipos de Conexiones</span>
                                </a>
                            </li>
                            <li>
                                <a href="/servprod" class="menu-toggle">
                                    <span>Servicio Producto</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="/ot">
                            <i class="material-icons">update</i>
                            <span>Ordenes de Trabajo</span>
                        </a>
                    </li>
                  
                </ul>
            </div>
          
          
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; 2019 <a href="javascript:void(0);">TTS</a>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0.0
                </div>
            </div>
      
                     
  
          
       
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
    
    </section>
       {{else}}
 
 <body class="login-page">
    <div class="login-box">
        <div class="logo">
            <a href="javascript:void(0);">TTS</b></a>
          
        </div>
        
              </div>
     
      {{/if}}