<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ECOKIL | Servicios Sustentables</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/css/plugins/dataTables/datatables.min.css" rel="stylesheet">

    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

</head>

<body class="">

    <div id="wrapper">

    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="/img/profile_small.jpg" />
                             </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{user.username}}</strong>
                             </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="profile.html">Profile</a></li>
                            <li><a href="contacts.html">Contacts</a></li>
                            <li><a href="mailbox.html">Mailbox</a></li>
                            <li class="divider"></li>
                            <li><a href="/usuario/logout">Logout</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        EKL
                    </div>
                </li>
                <li>
                    <a href="#"><i class="fa fa-home"></i> <span class="nav-label">Inicio</span></a>
                </li>
                <li>
                    <a href="/issue"><i class="fa fa-tasks"></i> <span class="nav-label">Tareas</span></a>
                </li>
                <li>
                    <a href="/gasto"><i class="fa fa-sign-out"></i> <span class="nav-label">Gastos</span></a>
                </li>   
                <li>
                    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Clientes</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="#">abm Cliente</a></li>
                        <li><a href="#">Sucursales</a></li>
                        <li><a href="#">Dispositivos</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-address-book"></i> <span class="nav-label">Contactos</span></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-random"></i> <span class="nav-label">Cuenta Corriente</span></a>
                </li>
               <li>
                    <a href="#"><i class="fa fa-truck"></i> <span class="nav-label">Proveedores</span></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Reportes</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="#">Reporte 1</a></li>
                        <li><a href="#">Reporte 2</a></li>
                        <li><a href="#">Reporte 3</a></li>
                    </ul>    
                </li>

                <li>
                    <a href="#"><i class="fa fa-dollar"></i> <span class="nav-label">Facturacion</span></a>
                </li>        

                <li>
                    <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">Contabilidad</span></a>
                </li>    

                <li>
                    <a href="#"><i class="fa fa-wrench"></i> <span class="nav-label">Configuración</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="#">Usuarios</a></li>
                        <li><a href="/user/signup">alta usuario</a></li>
                        <li><a href="#">abm tipo gasto</a></li>
                        <li><a href="#">abm tipo contacto</a></li>
                        <li><a href="#">abm archivos</a></li>
                        <li><a href="#">abm links</a></li>                        
                    </ul>    
                </li>                      

                <li class="landing_link">
                    <a target="_blank" href="#"><i class="fa fa-star"></i> <span class="nav-label">Archivos Utiles</span></a>
                </li>
                <li class="special_link">
                    <a href="#"><i class="fa fa-database"></i> <span class="nav-label">Links de Interes</span></a>
                </li>

            </ul>

        </div>
    </nav>

        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" action="search_results.html">
                <div class="form-group">
                    <input type="text" placeholder="Buscar" class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
            <ul class="nav navbar-top-links navbar-right">
  


                <li>
                    <a href="/usuario/logout">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>

        </nav>
        </div>
        {{> messages }}
        {{> errors }}
        {{{body}}}

         <!-- Mainly scripts -->
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.js"></script>


    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>


    <!-- Custom and plugin javascript -->
    <script src="/js/inspinia.js"></script>
    <script src="/js/plugins/pace/pace.min.js"></script>


    <script src="/js/plugins/dataTables/datatables.min.js"></script>
    <script src="/js/plugins/dataTables/dataTables.bootstrap4.min.js"></script>
 <!-- Dual Listbox -->
    <script src="/js/plugins/dualListbox/jquery.bootstrap-duallistbox.js"></script>



  <!-- Page-Level Scripts -->
    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'ExampleFile'},
                    {extend: 'pdf', title: 'ExampleFile'},

                    {extend: 'print',
                     customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                    }
                    }
                ]

            });

        });


            $('.dual_select').bootstrapDualListbox({
                selectorMinimalHeight: 160
            });

    </script>


</body>

</html>