<body class="gray-bg">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name">EKL</h1>
            </div>
            <h3>Bienvenido a Ecokil</h3>
            <a href="/usuario/login" class="btn btn-info"><span class="fa fa-sign-in"></span> Login</a>
            <a href="/usuario/signup" class="btn btn-danger"><span class="fa fa-address-card-o"></span> Signup</a>
            
        </div>
    </div>