        <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2><i class="fa fa-arrow-down text-danger"></i> <strong>Nueva Obligacion de Pago Cliente en su Cuenta Corriente</strong></h2>
               
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">
 
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-content">

                            <form action="/cccDebito/new-debito" method="POST">
                                <div class="col-sm-12"></div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Fecha</label>
                                    <div class="col-sm-10"><input type="date" name="fecha" class="form-control" placeholder="Ingrese fecha" /></div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Monto</label>
                                    <div class="col-sm-10"><input type="text" name="monto" class="form-control" placeholder="Ingese Monto" /></div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Cliente</label>
                                    <div class="col-md-10">    
                                        <select  name ="id_cliente" class="form-control show-tick">
                                            <option value="">-- Seleccione Cliente --</option>
                                            {{#each result_cliente}}
                                                <option value="{{this.id_cliente}}">{{this.tx_cliente}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Tipo Comprobante</label>
                                    <div class="col-md-10">    
                                        <select  name ="id_movicc_tipo_comprobante" class="form-control show-tick">
                                            <option value="">-- Sin tipo comprobante asociado --</option>
                                            {{#each result_comprobante}}
                                                <option value="{{this.id_movicc_tipo_comprobante}}">{{this.tx_movicc_tipo_comprobante}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Nro Comprob.</label>
                                    <div class="col-sm-10"><input type="text" name="nro_comprob" class="form-control" placeholder="Nro de Comrobante" /></div>
                                </div>                             
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Observaciones</label>
                                    <div class="col-sm-10"><input type="text" name="observaciones" class="form-control" placeholder="Obsevaciones" /></div>
                                </div>
            
                                <div class="hr-line-dashed"></div>                                                                                              
                                    <button class="btn btn-primary btn-block" type="submit">Guardar Nueva Obligacion de Pago Cliente</button>
                                </div>
                            </form>



                        </div>
                    </div>
                </div>
            </div>
        </div>