        <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2><i class="fa fa-check-square-o"></i> <strong>Registro Visita Servicio MIP</strong></h2>
               
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">
 
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-content">

                            <form action="/visitamip/new-visitamip" method="POST" enctype="multipart/form-data">
                                <div class="col-sm-12"></div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Remito</label>
                                    <div class="col-sm-10"><input type="file" class="form-control" name="avatar" /></div>
                                </div>



                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Cliente</label>
                                    <div class="col-md-10">    
                                        <select  name ="id_cliente" class="form-control show-tick">
                                            <option value="">-- Seleccione Cliente --</option>
                                            {{#each result_cliente}}
                                                <option value="{{this.id_cliente}}">{{this.tx_cliente}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>

                                 <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Tipo Servicio</label>
                                    <div class="col-md-10">    
                                        <select  name ="id_tipo_visitamip" class="form-control show-tick">
                                            <option value="">-- Seleccione tipo de servicio --</option>
                                            {{#each result_tipovisitamip}}
                                                <option   value="{{this.id_tipo_visitamip}}">{{this.tx_tipo_visitamip}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>                                
                                     
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Fecha</label>
                                    <div class="col-sm-10"><input type="date" class="form-control" name="fecha" placeholder="Fecha" ></div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Remito</label>
                                    <div class="col-sm-10"> <input type="text" name="remito" class="form-control" placeholder="Nro de remito" /></div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Observaciones</label>
                                    <div class="col-sm-10"><input type="text" name="observaciones" class="form-control" placeholder="Obsevaciones" /></div>
                                </div>
            
                                <div class="hr-line-dashed"></div>                                                                                              
                                    <button class="btn btn-primary btn-block" type="submit">Guardar Nuevo Visita por Servicio MIP</button>
                                </div>
                            </form>



                        </div>
                    </div>
                </div>
            </div>
        </div>